.w-12{
    width: 12%;
}
.grey{
    color: rgb(204, 204, 204);
}
.text-yellow{
    color: rgb(255, 255, 44);
}
.fs-smaller{
    font-size: smaller;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-bet{
    justify-content: space-between;
}
.list-style-none{
    list-style-type: none;
}
.text-decor-none{
    text-decoration: none;
}
/*nav bar pages dropdown*/
.btn:hover{
    color: rgb(53, 53, 255);
}
/*/




















@media (max-width: 768.98px) { 
    .media{
        justify-content: start !important;
        margin-left: 5%;
    }
 }